<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="/static/lib/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Ikaros Anime</title>
</head>
<body>
    <div>
        <h2>
            Ikaros Anime Page
        </h2>
        <hr>
        <p th:text="${animeList}"></p>
        <div th:each="anime: ${animeList}" class="card" style="width: 18rem;">
            <img th:src="${anime.coverUrl}" class="card-img-top" th:alt="${anime.title}">
            <div class="card-body">
                <h5 class="card-title" th:text="${anime.title}">Card title</h5>
                <p class="card-text" th:text="${anime.overview}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a th:href="@{/anime/dto/id/{id}(id=${anime.id})}" class="btn btn-primary">前往动漫详情</a>
            </div>
        </div>
    </div>

    <script src="/static/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>