<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
><!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/theme/simple/static/favicon.ico" rel="icon">
    <title>番剧详情页面</title>
    <link href="/theme/simple/static/lib/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        .list-group-item {
            background-color: #f8f9fa; /* 默认按钮背景色 */
            overflow: hidden;
        }

        .list-group-item:hover {
            background-color: #f0f0f0; /* 鼠标移动到剧集时的背景颜色 */
            cursor: pointer; /* 鼠标样式为手型 */
        }

        .list-group-item.active {
            background-color: #ff6600; /* 选中的剧集颜色为橘黄色 */
            border-color: #ff6600; /* 边框颜色为橘黄色 */
            color: #ffffff; /* 字体颜色为白色 */
        }

        .toggle-layout {
            background-color: #f8f9fa; /* 按钮背景色 */
            border: 1px solid #dee2e6; /* 按钮边框颜色 */
            color: #343a40; /* 按钮文字颜色 */
        }

        .toggle-layout.active {
            background-color: #ff6600; /* 选中按钮的背景色 */
            border-color: #ff6600; /* 选中按钮的边框颜色 */
            color: #ffffff; /* 选中按钮的文字颜色 */
        }

        .cover-image {
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .anime-description {
            display: -webkit-box;
            -webkit-line-clamp: 10; /* 最小高度为10行 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .artplayer-app {
            width: 100%;
            height: 100%
        }
        .scale {
            width: 100%;
            padding-bottom: 56.25%;
            height: 0;
            position: relative;
        }

        .item {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <!-- 左侧内容，占据全宽度，当屏幕大于等于 md 尺寸时显示 -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <!-- 播放器 -->
            <div class="scale">
                <div class="item">
                    <!-- 放在固定 16:9 的父容器里 -->
                    <div class="artplayer-app" ></div>
                </div>
            </div>

            <!-- 切换选择剧集和布局 -->
            <div class="mt-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 mr-3">选择剧集</h4>
                <div class="btn-group" role="group" aria-label="Layout Toggle">
                    <button type="button" class="btn btn-secondary toggle-layout" data-layout="horizontal">横向</button>
                    <button type="button" class="btn btn-secondary toggle-layout" data-layout="vertical">纵向</button>
                </div>
            </div>

            <div class="mt-4">
                <ul id="episodeList" class="list-group">
                    <li class="list-group-item "th:classappend="${episode.sequence == 1 && episode.group == 'MAIN'} ? 'active' : '' " th:each="episode: ${subject.episodes}">
                        <span th:text="${episode.group}"></span>
                        -
                        <span th:text="${episode.sequence}"></span>
                        -
                        <span th:text="${episode.name}"></span>
                    </li>
                    <!-- 添加更多剧集 -->
                </ul>
            </div>
        </div>


        <!-- 右侧内容，占据1/3的宽度 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
            <!-- 番剧详情 -->
            <h2 style="margin: 1vh 0" th:text="${subject.name}">番剧标题</h2>
            <p th:text="${subject.nameCn}"></p>
            <p class="anime-description" th:text="${subject.summary}">番剧介绍... </p>
            <!-- 封面图 -->
            <img th:src="${subject.cover}" width="100%" alt="番剧封面" class="cover-image">
        </div>
    </div>
</div>

<script src="/theme/simple/static/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/theme/simple/static/lib/artplayer-5.0.9/artplayer.js" crossorigin="anonymous"></script>
<script src="/theme/simple/static/lib/JavascriptSubtitlesOctopus/subtitles-octopus.js" crossorigin="anonymous"></script>
<script src="/theme/simple/static/lib/JavascriptSubtitlesOctopus/subtitles-octopus-worker.js" crossorigin="anonymous"></script>
<script th:inline="javascript">
    const subtitlesOctopusWorkJsPath = window.location.origin + '/theme/simple/static/lib/JavascriptSubtitlesOctopus/subtitles-octopus-worker.js';

    var subject = [[${subject}]];
    var videoSubtitleList = [[${videoSubtitleList}]];
    var fonts = [[${fonts}]];
    console.debug('window.location.origin', window.location.origin)
    fonts = fonts.map(url => window.location.origin + url)
    console.debug('subject', subject);
    console.debug('videoSubtitleList', videoSubtitleList);
    console.debug('fonts', fonts);


    var subtitleOctopus;
    const artplayerPluginAss = (options) => {
        return (art) => {
            subtitleOctopus = new SubtitlesOctopus({
                ...options,
                video: art.template.$video,
            });

            subtitleOctopus.canvasParent.style.zIndex = 20;
            art.on('destroy', () => subtitleOctopus.dispose());

            return {
                key: 'artplayerPluginAss',
                name: 'artplayerPluginAss',
                instance: subtitleOctopus,
            };
        };
    };

    const art = new Artplayer({
        container: '.artplayer-app',
        volume: 0.5,
        isLive: false,
        muted: false,
        autoplay: false,
        pip: true,
        autoSize: true,
        autoMini: true,
        screenshot: true,
        setting: true,
        loop: true,
        flip: true,
        playbackRate: true,
        aspectRatio: true,
        fullscreen: true,
        fullscreenWeb: true,
        subtitleOffset: false,
        miniProgressBar: true,
        mutex: true,
        backdrop: true,
        playsInline: true,
        autoPlayback: true,
        airplay: true,
        theme: 'skyblue',
        lang: navigator.language.toLowerCase(),
        moreVideoAttr: {
            crossOrigin: 'anonymous',
        },
        plugins: [],
        settings: [],
    });

    var currentSubUrl = '';
    if (videoSubtitleList.length > 0) {
        currentSubUrl = videoSubtitleList[0].url;
        art.plugins.add(artplayerPluginAss({
            // debug: true,
            fonts: fonts,
            fallbackFont: '',
            subUrl: currentSubUrl,
            workerUrl: subtitlesOctopusWorkJsPath
        }));
    }

    const artplayerSubtitleEnableSetting = {
        key: 'artplayerSubtitleEnableSetting',
        html: '开启',
        tooltip: '显示',
        switch: true,
        onSwitch: function (item) {
            item.tooltip = item.switch ? '隐藏' : '显示';
            if (item.switch) {
                subtitleOctopus.freeTrack();
            } else {
                subtitleOctopus.setTrackByUrl(currentSubUrl);
            }
            return !item.switch;
        },
    };
    const artplayerSubtitleSetting = {
        key: 'artplayerSubtitleSetting',
        width: 200,
        html: '字幕',
        tooltip: '选择',
        icon: '<img width="22" heigth="22" src="/theme/simple/static/images/svg/subtitle.svg">',
        selector: [artplayerSubtitleEnableSetting],
        onSelect: function (item) {
            const newSubtitleUrl = item.url;
            currentSubUrl = newSubtitleUrl;
            subtitleOctopus.setTrackByUrl(newSubtitleUrl);
            artplayerSubtitleEnableSetting.switch = true;
            return item.html;
        },
    };

    function getSubtitleSimpleNameByAttachmentName(name){
        if (!name) return '';
        var str = name.substring(0, name.lastIndexOf('.'));
        str = str.substring(str.lastIndexOf('.') + 1);
        str = str.toLocaleUpperCase();
        // console.log('subtitle simple name', name, str);
        return str;
    };

    function switchVideoUrl(resource) {
        console.debug('switchVideoUrl', 'resource', resource)
        if(!resource) return;
        art.switch = resource.url;
        var attachmentId = resource.attachmentId;
        if(videoSubtitleList && videoSubtitleList.length >0) {
            var subtitles = videoSubtitleList.filter(e => attachmentId === e.master_attachment_id);
            console.debug('attachmentId subtitles', attachmentId, subtitles)
            if(subtitles && subtitles.length > 0) {
                if(subtitleOctopus) {
                    subtitleOctopus.freeTrack();
                }
                console.debug('art.setting', art.setting)
                artplayerSubtitleSetting.selector = []
                artplayerSubtitleSetting.selector.push(artplayerSubtitleEnableSetting)
                subtitles.forEach(e => {
                    var simpleName = getSubtitleSimpleNameByAttachmentName(e.name);
                    artplayerSubtitleSetting.selector.push({
                        default: simpleName === 'SC' || simpleName === 'sc',
                        url: e.url,
                        html: simpleName
                    })
                })
                art.setting.update(artplayerSubtitleSetting)
            }
        }

    }

    function getEpisodeSeqStr(num) {
        let epSeqStr = num + '';
        epSeqStr = epSeqStr.indexOf('.') > 0 ? epSeqStr : epSeqStr + ".0"
        return epSeqStr
    }

    document.addEventListener('DOMContentLoaded', function() {
        var episodeList = document.getElementById('episodeList');
        var listItems = episodeList.getElementsByTagName('li');
        var layoutToggleButtons = document.querySelectorAll('.toggle-layout');

        // 如果第一集有绑定资源，则切换到第一集
        const urlParams = new URLSearchParams(window.location.search);
        const epSeq = urlParams.get('episode');
        let epGroup = urlParams.get('group');
        if (!epGroup || epGroup === '') epGroup = 'MAIN';
        const selectedEpisode = subject.episodes
            .find(ep => ep.group === epGroup && getEpisodeSeqStr(ep.sequence) === epSeq && ep.resources && ep.resources.length > 0);
        console.info('selected episode', epSeq, selectedEpisode);
        if (selectedEpisode) {
            switchVideoUrl(selectedEpisode.resources[0])
            console.debug('listItems', listItems)
            var seleItem = undefined;
            for (var i = 0; i < listItems.length; i++) {
                var group = listItems[i].children[0].innerHTML;
                var seq = listItems[i].children[1].innerHTML;
                if ((epSeq + '') === seq && (epGroup + '') === group) {
                    seleItem = listItems[i];
                    break;
                }
            }
            console.debug('seleItem', seleItem)
            if (seleItem) seleItem.classList.add('active');
        }

        for (var i = 0; i < listItems.length; i++) {
            listItems[i].addEventListener('click', function() {
                console.debug('this.children', this.children);
                var epGroup = this.children[0].innerHTML;
                var epSeq = this.children[1].innerHTML;
                var epName = this.children[2].innerHTML;
                console.debug('episode seq', epSeq);
                console.debug('episode name', epName);
                var episode = subject.episodes.find(function(ep) {
                    console.debug('epSeq',  epSeq)
                    console.debug('ep.sequence',  ep.sequence)
                    return ((ep.group + '') === epGroup) && (getEpisodeSeqStr(ep.sequence) === epSeq) && (ep.name === epName);
                })
                console.debug('select episode', episode)
                if(episode && episode.resources.length > 0) {
                    // change html style
                    // for (var j = 0; j < listItems.length; j++) {
                    //     listItems[j].classList.remove('active');
                    // }
                    // this.classList.add('active');
                    //
                    // // switch video src
                    // console.debug('switch episode resource', episode.resources[0])
                    // switchVideoUrl(episode.resources[0])
                    window.location.href = window.location.origin.substring(0, window.location.origin.indexOf('?'))
                        + '?group=' + epGroup + '&episode=' + epSeq;
                } else {
                    alert('当前剧集没有绑定资源');
                }
            });
        }

        layoutToggleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var layout = this.getAttribute('data-layout');
                episodeList.classList.remove('list-group-horizontal', 'flex-wrap');
                if (layout === 'horizontal') {
                    episodeList.classList.add('list-group-horizontal', 'flex-wrap');
                }
                layoutToggleButtons.forEach(function(button) {
                    button.classList.remove('active');
                });
                this.classList.add('active');
            });
        });
    });
</script>
</body>
</html>
